html, body {
    height: 100%;  
    background: -webkit-linear-gradient(90deg, #F0F0F0 10%, #ededed 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #616161 10%, #9bc5c3 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #F0F0F0 10%, #ededed 90%); /* W3C */     
}

a {
    color: #606060;
    font-size: 120%;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type:none;
}

ul.secondlist li {
    display:block; 
    padding: 0px 0px 0px 0px; 
    width:100%; 
    text-align: center;
}

li.categoryheader {
    font-weight: bold;
    font-size: 130%;
    padding-left: 20px;
    padding-right: 20px;
}

ul.secondlist {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

div.category {
    display: inline-block;
    vertical-align: top;
}

#products {
    padding-bottom: 50px;
}

h1 {
    margin: 0 auto; 
    text-align:center; 
    padding: 30px; 
    font-size:250%
}

.center {
    width: 85%;
    margin: 0 auto;
}

p {
    font-size: 110%;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 30px;
}